<div class="container">
  <h4 class="d-flex justify-content-end mb-4">
    <%= link_to "New post", new_post_path, class: 'btn btn-primary' %>
  </h4>
  
    <h2>List posts</h2>
    
    <% @posts.each do |post| %>
      <%= link_to post do %>
        <div class="card mb-3 mt-4">
          <div class="card-body">
            <h5 class="card-title text-primary text-decoration-none"><%= post.title %></h5>
            <p class="text-dark text-decoration-none"><%= post.description %></p>
            <div class="d-flex flex-wrap" style="gap: 4px">
              <div><%= link_to 'Show this post', post, class: 'btn btn-primary' %></div>
              <div><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success' %></div>
              <div><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?'}, class: 'btn btn-danger' %></div>
            </div>
          </div> 
        </div>
      <% end %>
    <% end %>
</div>


<%= link_to "New post", new_post_path %>
